<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nit" value="06141211041042" />
    <add key="userName" value="CONECTALOHA" />
    <add key="password" value="W_5r1gc?" />
    <add key="nrc" value="73563" />
    <add key="actividadEconomica" value="56101" />
    <add key="descActividad" value="Restaurantes" />
    <add key="tipoPersona" value="1" />
    <add key="correo" value="informatica@betosrestaurante.com" />
    <add key="telefono" value="79105543" />
    <add key="puntoVenta" value="0002" />
    <add key="CodigoEstablecimientoMH" value="0001" />
    <add key="CodigoEstablecimiento" value="0001" />
    <add key="tipoEstablecimiento" value="01" />
    <add key="Nombre" value="FERREIRO, S.A. DE C.V." />
    <add key="Direccion" value="85 AVENIDA NORTE, COLONIA ESCALON, 4407, PASAJE DORDELLY, SAN SALVADOR, SAN SALVADOR" />
    <add key="telefono" value="79105543" />
    <add key="Disctrict" value="06" />
    <add key="State" value="23" />
    <add key="codPais" value="503" />
    <add key="Pais" value="El Salvador" />
    <add key="ambiente" value="00" />
    <add key="Formats" value="XML|JSON" />
    <add key="rutaSecuencial" value="C:\Users\Meison\Documents\Secuencia.txt" />
    <add key="rutaTemp" value="C:\Users\Meison\Documents\Temp.txt" />
    <add key="encabezado0a" value="      Encabezado Test   "/>
    <add key="encabezado0b" value="               Factura   "/>
    <add key="encabezado" value="        Nombre Empresa          " />
    <add key="cuerpo1" value="             Nombre Sucursal                 " />
    <add key="cuerpo2" value="         NIT: 000000000000000000" />
    <add key="cuerpo3" value="          Direccion" />
    <add key="cuerpo4" value="          Direccion 2" />
    <add key="cuerpo5" value="           Pais    " />
    <add key="cuerpo6" value="               TEL.  0000000            " />
    <add key="cuerpo7" value="            Mail@Test.com     " />
    <add key="dirres" value="C:\Users\Meison\Documents\" />
    <add key="journal" value="C:\MICROS\Res\Pos\Journals\Archivo.txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>